@import url('https://fonts.googleapis.com/css2?family=Noto+Sans');

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: blue;
  color: black;
  display: table-cell;
  vertical-align: middle;
}

body a:link {
    color :black;
    background-color: transparent;
}

body a:visited {
    color :black;
    background-color: transparent;
}